.login {
  display: flex;
  background-color: #f0f2f5;
}
.loginWrapper {
  flex: 9;
  display: flex;
  row-gap: 24px;
}
.loginBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 400px;
  max-height: 260px;
  padding: 20px;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 2px;
  row-gap: 20px;
}
.loginInput {
  height: 40px;
  border-radius: 3px;
  border: 1px solid #dad6d3;
  font-size: 16px;
  padding-left: 20px;
}
.loginInput:focus {
  outline: none;
}
.loginButton {
  height: 50px;
  border-radius: 3px;
  border: none;
  background-color: #475f87;
  color: #f3f3f3;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
.loginButton:hover {
  background-color: #536d99;
}
.loginButton:focus {
  outline: none;
}
.loginButton:disabled {
  cursor: not-allowed;
}
.loginRegisterButton {
  width: 60%;
  align-self: center;
  height: 50px;
  border-radius: 3px;
  border: none;
  background-color: #1d1d1d;
  color: #f3f3f3;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
.loginRegisterButton:hover {
  background-color: #383838;
}
.loginRegisterButtonCont {
  text-align: center;
}
