.registerBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 20px;
  min-width: 400px;
  max-height: 400px;
  padding: 20px;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 3px;
}

