.sidebarFriendLink {
  text-decoration: none;
  color: inherit;
}
.sidebarFriend {
  display: flex;
  align-items: center;
  padding: 8px 8px;
}
.sidebarFriend:hover {
  background-color: #f2f2f2;
}
.sidebarFriendImg {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
.sidebarFriendName {
  font-size: 14px;
  color: #1d1d1d;
}
